@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.07); opacity: 1; }
}

@keyframes floatText {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-2px); }
    100% { transform: translateY(0px); }
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.85; }
    100% { opacity: 1; }
}

@keyframes talk {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0px); }
}