<!DOCTYPE html>
<html>
<head>
    <title>My 8 ball is a cat</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oracle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progressbar.css') }}">
</head>
<body>

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>