{% extends "base.html" %}

{% block content %}

<!-- TOP ROW: website headers -->

<h1>★ ･ﾟ✧The Almighty 8 ball knows all★ ･ﾟ✧</h1>

<p class="description">
Ever in need of a mystical prophecy?<br/>
Want to know if you'll pass your exams or find your true love?<br/>
This 8 ball has all the answers! Just ask your question below:
</p>


<div class="oracle-container">

     <!-- Middle row: left user stats, middle cat, right speech bubble -->
    <div class="middle-row">

        <!-- LEFT: Stats -->
        <div class="panel stats-panel">
            {% include "components/stats.html" %}
            {% include "components/actions.html" %}
        </div>

        <!-- CENTER: Cat Oracle -->
        <div class="panel cat-panel">
            <div class="cat-wrapper">

                <!-- NEW: 8 ball shapes -->
                <div class="oracle_gradient"></div> <!-- 8 ball shapes -->
                <div class="oracle-core"> <!-- 8 ball black screen holder -->

                        <div class="oracle-screen">
                            <p id="oracle-text">≽₍◉⩊◉マⳊ</p>
                        </div>

                </div>
<!--                <img id="cat-img"-->
<!--                     src="{{ url_for('static', filename='images/cat_8ball_pixel.png') }}">-->
            </div>
        </div>

        <!-- RIGHT: Speech Bubble -->
        <div class="panel speech-panel">
            {% include "components/oracle.html" %}
        </div>

    </div>

    <!-- BOTTOM ROW: user input -->
    <div class="bottom-row">
        {% include "components/oracle_input.html" %}
    </div>

</div>

{% endblock %}