<p>Hunger: </p>
<div class="progressbar-wrapper">
    <div class="progress-bar">
        <div class="progress-bar-fill" id="hunger-fill"></div>
    </div>
</div>

<p>Loneliness:</p>
<div class="progressbar-wrapper">
    <div class="progress-bar">
        <div class="progress-bar-fill" id="loneliness-fill"></div>
    </div>
</div>

<p>sleepiness: </p>
<div class="progressbar-wrapper">
    <div class="progress-bar">
        <div class="progress-bar-fill" id="sleepy-fill"></div>
    </div>
</div>

<p>social_fatigue: </p>
<div class="progressbar-wrapper">
    <div class="progress-bar">
        <div class="progress-bar-fill" id="social_fatigue-fill"></div>
    </div>
</div>